body{
  background-color: bisque;
}
header li {
  list-style: none;
}
.presentation{
  border-radius: 15%;
  border-color: black;
  height:
}
.partie_1 img{
  border-radius: 15%;
}
.partie_1 img:hover{
  color: blue;
}